<!DOCTYPE html>
<html>
<head>
<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;
}
</style>
</head>
<body>

<h2>Table Caption</h2>
<p>To add a caption to a table, use the caption tag.</p>

<table style="width:100%">
  <caption>Student Information</caption>
  <tr>
    <th>{{sno}}</th>
  </tr>
  <tr>
    <td>{{fname}}</td>
  </tr>
  <tr>
    <td>{{lname}}</td>
  </tr>
  <tr>
    <th>{{class_of}}</th>
  </tr>
  <tr>
    <td>{{issued_on}}</td>
  </tr>
  <tr>
    <td>{{valid_upto}}</td>
  </tr>
  <tr>
    <th>{{cnic}}</th>
  </tr>
  <tr>
    <td>{{dob}}</td>
  </tr>
  <tr>
    <td>{{blood_group}}</td>
  </tr>
  <tr>
    <td>{{image_url}}</td>
  </tr>
</table>

</body>
</html>
